.inputWrapper{
margin: 10px 100px;
display: flex;
flex-direction: row-reverse;
 justify-content: space-between;
}

.inputWrapper label{
      margin:5px 0px;
    text-align: right;
      font-size: large;
  
}

.inputWrapper input{
    width:70%;
    padding: 10px;
    border:1px solid #acaac5;
    text-align: right;
    border-radius: 5px;
    margin: 10px 90px;
}

.inputWrapper input:hover{
   border: 2px solid rgb(252, 176, 69);
   box-shadow: 10px 10px 15px rgb(63, 61, 84);
}




