.articlePageWrapper {
  text-align: right;
  margin-bottom: 20px;
  }

 .articlePageWrapper a{
  width: 23%;
  }

.article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
   }

.articlePageWrapper h2 {
  margin: 20px;
}

.articlePageWrapper img {
  height: 400px;
   border-radius: 10px;
}
