.articlePageWrapper {
  text-align: right;
  margin-bottom: 20px;
 
}

.article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
   }

.articlePageWrapper h2 {
  margin: 20px;
}

.articlePageWrapper img {
  height: 400px;
}
