.articlePageWrapper {
  height: 100vh;
  width: 100%;
  } 

.article{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}


.articlePageWrapper h2  {
  text-align: right;
  margin-top: 60px;
margin-bottom: 20px;
}

.articlePageWrapper img {
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  width: 100%;
}
