.articleWrapper {
  height: 23%;
  height: 450 px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 5px #ccc;
 border-radius: 8px;
}

.articleWrapper h3 {
  text-align: center;
  padding: 8px 16px;
}

.articleWrapper img {
  width: 100%;
  }

.articleWrapper p {
  text-align: right;
  padding: 4px 16px;
  color: #777;
}

