.articleWrapper {
  height: 300px;
  margin-bottom: 20px;
 border-radius: 8px;

}

.articleWrapper h3 {
  text-align: center;
  padding: 8px 16px;
}

.articleWrapper img {
  width: 100%;
  }

.articleWrapper p {
  text-align: right;
  padding: 4px 16px;
  color: #777;
}

