
.form {
  margin: 20px 110px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 5px 20px;
}

Textarea{
  margin:10px 0px;
width: 70%;}

.inputWrapper Textarea:hover{
   border: 2px solid rgb(252, 176, 69);
   box-shadow: 10px 10px 15px rgb(63, 61, 84);
}


.buttonWrapper  {
  margin: 10px 0;
  height: 50px;
  width: 15rem;
  padding: 12px 40px;
  border: 2px solid rgb(63, 61, 84);
  color: rgba(252, 176, 69, 1);
  background-color: rgba(63, 61, 84, 1);
  border-radius: 8px;
  font-size: larger;
}

.buttonWrapper:hover {
  box-shadow: 5px 5px 15px rgb(90, 65, 112);
}
 
