.contactWrapper {
  margin: 30px 350px;
}

.contactWrapper h3 {
  direction: rtl;
  margin-bottom: 30px;
}

.phone {
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 600px;
  border-radius: 8px;
  justify-content: space-between;
}

.phone p {
  padding-left: 60px;
  font-size: larger;
  font-weight: 600;
  font-style: italic;
}

.phone .phonCell {
  margin-left: 250px;
}

.telegram {
  margin-top: 20px;
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 600px;
  border-radius: 8px;
  justify-content: space-between;
}

.telegram p {
  padding-left: 60px;
  font-size: larger;
  font-weight: 600;
  font-style: italic;
}

.telegram .telegramIcon {
 margin-left: 180px;
}

.email {
  margin-top: 20px;
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 600px;
  border-radius: 8px;
  justify-content: space-between;
}

.email p {
  padding-left: 60px;
  font-size: larger;
  font-weight: 600;
  font-style: italic;
  margin-right: 30px;
}

.email .emailIcon {
  margin-left: 100px;
}

.linkedIn {
  margin-top: 20px;
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 600px;
  border-radius: 8px;
  justify-content: space-between;
}

.linkedIn p {
  padding-left: 60px;
  font-size: larger;
  font-weight: 600;
  font-style: italic;
  margin-right: 20px;
}

.linkedIn .LinkedInIcon {
  margin-right: 20px;
}

.gitHub {
  margin-top: 20px;
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 600px;
  border-radius: 8px;
  justify-content: space-between;
}

.gitHub p {
  padding-left: 60px;
  font-size: larger;
  font-weight: 600;
  font-style: italic;
}

.gitHub .gitHubIcon {
  margin-left: 20px;
}
