.contactWrapper {
  margin: 100px 350px  ;

  /* width: 1000px; */
}

.phone {
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 600px;
  border-radius: 8px;
  justify-content: space-between;
}

.phone p {
  padding-left: 60px;
  font-size: larger;
  font-weight: 600;
  font-style: italic;
}

.phone .phonCell {
  margin-left: 250px;
  color: rgb(26, 26, 126);
}

.telegram {
  margin-top: 50px;
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 600px;
  border-radius: 8px;
  justify-content: space-between;
}

.telegram p {
  padding-left: 60px;
  font-size: larger;
  font-weight: 600;
  font-style: italic;
}

.telegram .telegramIcon {
  color: rgb(26, 26, 126);
  width: 100px;
  height: 50px;
  margin-right: 40px;
}

.email {
  margin-top: 50px;
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 600px;
  border-radius: 8px;
  justify-content: space-between;
}

.email p {
  padding-left: 60px;
  font-size: larger;
  font-weight: 600;
  font-style: italic;
  margin-right: 30px;
}

.email .emailIcon {
  color: rgb(26, 26, 126);
  margin-left: 100px;
}

.linkedIn{
  margin-top: 50px;
  display: flex;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 600px;
  border-radius: 8px;
  justify-content: space-between;
}  

.linkedIn  p {
  padding-left: 60px;
  font-size: larger;
  font-weight: 600;
  font-style: italic;
  margin-right: 30px;
}

.linkedIn .LinkedInIcon{
    margin-right:20px
}
