.headerWrapper {
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  border-radius: 12px;
  background-color: rgba(224, 247, 250, 0.4);
  color:  #322436;
  border: 2px solid #aaa;
  border-radius: 8px;
  box-shadow: 5px 5px rgba(8, 8, 8, 0.4);
}
    

.header {
  text-align: center;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #322436;
  font-size: larger;
}


.header ul {
  display: flex;
  padding-right: 60px;
  list-style: none;
}

.header ul li {
  margin-left: 50px;
  cursor: pointer;
}

.header li:hover {
  color: #241a27;
  font-size: larger;
}

.header ul h3 {
  margin-left: 80px;
  cursor: pointer;
 }
