.headerWrapper {
  box-shadow: 0px 3px 5px #bbb;
  background-color: rgb(127, 127, 247);
}
.header {
    
  text-align: center;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #201e8f;
  font-size: larger;
}

.header ul {
  display: flex;
  padding-right: 60px;
  list-style: none;
}

.header ul li {
  margin-left: 50px;
  cursor: pointer;
}

.header li:hover {
  color: rgb(248, 247, 247);
}

.header ul h3 {
  margin-left: 30px;
}
