.footerWrapper {
  height: 100%;
   padding: 10px;
  width: 100%;
  background-color: rgba(224, 247, 250, 0.4);
  color: #322436;
  border: 2px solid #aaa;
  border-radius: 8px;
  box-shadow: 5px 5px rgba(8, 8, 8, 0.4);
}

.footerWrapper p {
  direction: rtl;
  margin-top: 100px;
  /* margin: 30px; */
  text-align: center;
  font-size: 12px;
}

.icons {
  margin: 0px 30px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.icons a {
  display: flex;
  justify-content: center;
  width: 2em;
  height: 3em;
}

.lastLine{
  display: flex;
  justify-content: space-around;
}
