.exitWrapper {
  margin-top: 45px;
  margin-bottom: 250px;
  color: #3d3d3d;
  font-size: x-large;
  text-shadow: 2px 2px #8b95aa;
  display: flex;
  justify-content: space-around;
}

.returnButton {
  margin: 30px;
  height: 50px;
  width: 12rem;
  border: 2px solid rgb(63, 61, 84);
  color: rgba(252, 176, 69, 1);
  background-color: rgba(63, 61, 84, 1);
  border-radius: 8px;
  font-size: larger;
}

.returnButton:hover {
  box-shadow: 2px 5px 15px rgb(90, 65, 112);
}
