.thisArticleWrapper {
  margin-top: 50px;
}

.thisArticleInfo {
}

.thisArticleInfo img {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 150px;
}

.thisArticleInfo p {
  margin-bottom: 10px;
  font-size: medium;
  font-weight: 500;
}

.thisArticleInfo span {
  margin-top: 20px;
  text-align: left;
  display: flex;
  text-align: justify;
}
