.thisArticleWrapper {
  margin: 50px 0px;
  
}

.thisArticleInfo {
}

.thisArticleInfo img {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 150px;
}

.thisArticleInfo p {
  margin-bottom: 10px;
  font-size: medium;
  font-weight: 500;
}

.thisArticleInfo span {
  margin-top: 20px;
  text-align: left;
  display: flex;
  text-align: justify;
}

.buttonWrapper  {
  margin: 20px 0 25px 0;
  height: 40px;
  width:15rem;
  padding: 8px 40px;
  border: 2px solid rgb(63, 61, 84);
  color: rgba(252, 176, 69, 1);
  background-color: rgba(63, 61, 84, 1);
  border-radius: 8px;
  font-size: larger;
}

.buttonWrapper:hover {
  box-shadow: 5px 5px 15px rgb(90, 65, 112);
}
 
