.aboutMeWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top:60px;
}

.aboutMeWrapper img {
  /* margin-top: 50px; */
  height: 350px;
  width: 200px;
  border-radius: 20px;
  border: 2px solid rgb(130, 121, 179);
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.buttonWrapper button {
  margin-top: 20px;
  height: 50px;
  width: 15rem;
  padding: 12px 40px;
  border-color: bisque;
  color: bisque;
  background-color: rgb(87, 87, 236);
  border-radius: 8px;
  font-size: larger;
}

.buttonWrapper button:hover {
  box-shadow: 2px 2px rgb(173, 173, 175);
  background-color: bisque;
  color: rgb(87, 87, 236);
}
