.aboutMeWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 90px;
}

.aboutMeWrapper img {
  height: 300px;
  width: 180px;
  border-radius: 20px;
  border: 2px solid rgb(130, 121, 179);
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.buttonWrapper button {
  margin-top: 20px;
  height: 50px;
  width: 15rem;
  padding: 12px 40px;
  border: 2px solid rgb(63, 61, 84);
  color: rgba(252, 176, 69, 1);
  background-color: rgba(63, 61, 84, 1);
  border-radius: 8px;
  font-size: larger;
}

.buttonWrapper button:hover {
  box-shadow: 2px 5px 15px rgb(90, 65, 112);
}
